<ng-template [ngIf]="!userServer.authenticated">
  <mat-toolbar color="primary">
    <span>YGreens</span>
  </mat-toolbar>
  <app-login></app-login>
</ng-template>

<ng-template [ngIf]="userServer.authenticated">

  <mat-drawer-container class="app-sidenav-container" autosize>
  
    <mat-drawer #drawer class="app-sidenav mat-elevation-z10" [mode]="isMobail ? 'push':'side'" [opened]="!isMobail">
      <mat-toolbar color="primary">
        <mat-icon>grass</mat-icon>
        <span>YGreens</span>
      </mat-toolbar>
      <mat-nav-list style="height: calc(100vh - 120px);overflow: auto;">
        <div mat-subheader>Справочники</div>
        <mat-list-item routerLink="/reference/nomenclature">
          Номенклатура
        </mat-list-item>
        <mat-list-item>Типы номенклатуры</mat-list-item>
        <mat-list-item>Контрагенты</mat-list-item>
        <mat-list-item>Изображения</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Документы</div>
        <mat-list-item>Установка цен</mat-list-item>
        <mat-list-item>Закупки</mat-list-item>
        <mat-list-item>Продажи</mat-list-item>
        <mat-list-item>Посадки</mat-list-item>
        <mat-list-item>Выставить на стелаж (без света)</mat-list-item>
        <mat-list-item>Выставить на стелаж (со светом)</mat-list-item>
        <mat-list-item>Выставить на продажу</mat-list-item>
        <mat-list-item>Брак</mat-list-item>
        <mat-list-item>Полив</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Регистры</div>
        <mat-list-item>Цены</mat-list-item>
        <mat-list-item>Остатки</mat-list-item>
        <mat-list-item>Обороты</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Аналитика</div>
        <mat-list-item>Календарь посадок</mat-list-item>
        <mat-list-item>Продажи</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Администрирование</div>
        <mat-list-item>Пользователи</mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <span style="display: flex;align-items: center; padding: 0 16px;font-size: 16px;height: 48px; background: #3f51b5; color: #fff; font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;letter-spacing: normal; margin: 0;">
        <span>{{userServer.user?.username}}</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="logout" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
        </button>
      </span>
    </mat-drawer>
  
    <div class="app-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
</ng-template>
