<ng-template [ngIf]="!userServer.authenticated">
  <app-login></app-login>
</ng-template>

<ng-template [ngIf]="userServer.authenticated">
  <app-navbar (toggleNav)="drawer.toggle()"></app-navbar>
  
  <mat-drawer-container class="example-container" autosize>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <div mat-subheader>Справочники</div>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          Номенклатура
        </mat-list-item>
        <mat-list-item>Контрагент</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Производство</div>
        <mat-list-item>Посадки</mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
</ng-template>
